@import url(./index.css);

*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
    font-family: "Gabarito";
    transition: all ease-in-out .5s;
}

body {
    font-size: 1.5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-1);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 83.4px;
    background-color: var(--color-4);
    font-weight: 600;
}

.navMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.navToggler div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background-color: var(--color-1);
}

.navToggler {
    cursor: pointer;
    display: none;
}

.imgLogo {
    width: 20vh;
}

@media screen and (max-width: 768px) {
    .navToggler {
        display: block;
    }

    .navMenu {
        position: fixed;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background-color: var(--color-4);
        flex-direction: column;
        transform: translateX(100%);
    }
}

/* Nav Active Class */
.navActive {
    transform: translateX(0);
}

/* Toggler Icon Animation */
.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}

