* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    background-color: #141414;
}

.navbar {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all .8s ease-in-out;
}

.active-link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 10px 15px;
}

.logo img {
    max-width: 150px;
    /* Ajuste o tamanho máximo conforme necessário */
}

.nav-bg .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-bg .nav-links li {
    margin: 0 15px;
}

.nav-bg .nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.nav-bg .nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

#btn-navbar {
    margin-top: 18px;
    display: none;
    cursor: pointer;
}

@media (max-width: 720px) {
    .nav-bg .nav-links {
        display: none;
        position: fixed;
        top: 0vh;
        /* Ajustado para evitar sobreposição com o botão */
        left: 0;
        width: 100%;
        height: 100vh;
        /* Ajustado para ocupar o restante da tela */
        background-color: rgba(0, 0, 0, 0.5);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .nav-bg .nav-links.active {
        display: flex;
        opacity: 1;
        pointer-events: auto;
    }

    .nav-bg .nav-links li {
        margin: 20px 0;
    }

    #btn-navbar {
        display: block;
        position: fixed;
        top: 0;
        right: 20px;
        /* Posicionado no canto superior direito */
        z-index: 1000;
        /* Acima do menu */
    }
}

header {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-title {
    width: 100%;
    text-align: center;
    color: aliceblue;
    position: absolute;
    top: 40%;
}

.main-title p:nth-child(1) {
    font-size: 36px;
}

.main-title p:nth-child(2) {
    font-size: 18px;
}

.video-doc {
    width: 100%;
    height: 100vh;
    align-items: center;
}

.video-doc video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* Conteúdo da seção Notícias */
.noticias-container {
    background-color: #141414;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.tt-noticias {
    margin-top: 42px;
    transform: translateX(-140px);
    text-align: right;
}

.noticias-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;
}

.noticias-card {
    max-width: 533px;
    height: 528px;
    background-color: black;
    color: white;
    border-radius: 6px;
}


.img-card {
    width: 100%;
    height: 360px;
    overflow: hidden;
}

.img-animation {
    filter: brightness(0.5);
    transition: all .2s ease-in-out;
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Mantém a proporção da imagem e a preenche completamente */
    vertical-align: middle;
}

.title-card {
    font-size: 30px;
    margin-left: 24px;
    font-weight: bold;
}

.desc-card {
    font-size: 20px;
    font-weight: 300;
    margin-inline: 24px;
    margin-bottom: 12px;
}

.noticias-card:hover {
    .img-card {
        filter: brightness(1);
    }
}

@media (max-width: 1200px) {
    .tt-noticias {
        margin-top: 42px;
        transform: translateX(0);
        text-align: right;
    }
}

@media (max-width: 768px) {
    .noticias-card {
        width: 300px;
        height: auto;
    }

}

/* Conteúdo da seção Equipe */

.equipe-container {
    padding-top: 48px;
    height: 948px;
    background-color: black;
}

.equipe-title {
    width: 100%;
    align-items: center;
}

.equipe-title p {
    font-size: 100px;
    font-weight: bold;
    color: white;
    font-family: Poppins;
    margin-left: 140px;
    margin-bottom: 36px;
}

@media (max-width: 1300px) {
    .equipe-title {
        text-align: center;
    }

    .equipe-title p {
        margin-left: 0;
    }

    .img-equipe {
        display: none;
    }

    .equipe-text p {
        text-align: center;
    }

    .equipe-container {
        /* The image used */
        background-image: url("../img/imgEquipe-escuro.jpg");

        /* Set a specific height */
        min-height: 500px;
        max-height: 800px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.equipe-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.equipe-text {
    width: 757px;
    height: 535px;
    font-size: 30px;
    color: white;
    align-content: center;
}

.img-equipe img {
    width: 578px;
    height: 615px;
}

@media (max-width: 1365px) {
    .equipe-text {
        font-size: 28px;
    }
}

@media (max-width: 768px) {

    .equipe-title p {
        font-size: 80px;
    }

    .equipe-text p {
        margin-inline: 36px;
        font-size: 28px;
    }
}

@media (max-width: 670px) {

    .equipe-title p {
        font-size: 50px;
    }

    .equipe-title {
        margin-top: 18px;
    }

    .equipe-text p {
        margin-inline: 20px;
        margin-top: 24px;
        font-size: 20px;
    }

    .equipe-text {
        margin-inline: 26px;
        margin-bottom: 40px;
    }
}

@media (max-width: 670px) {

    .equipe-title p {
        font-size: 50px;
    }

    .equipe-title {
        margin-top: 18px;
    }

    .equipe-text p {
        margin-inline: 16px;
        margin-top: 24px;
        font-size: 18px;
    }

    .equipe-text {
        margin-inline: 26px;
        margin-bottom: 40px;
    }
}


/* Seção vida devocional */

.devocional-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.devocional-wrapper img {
    width: 672px;
    height: 610px;
}

.devocional-text {
    width: 729px;
    height: 700px;
    color: white;
    font-size: 30px;
}

@media (max-width: 1399px) {

    .devocional-container {
        /* The image used */
        background-image: url("../img/img-vida-devocional-escuro.jpg");

        /* Set a specific height */
        min-height: 500px;
        max-height: 800px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        scroll-behavior: smooth;
    }

    .devocional-wrapper img {
        display: none;
    }

    .devocional-text {
        margin-inline: 24px;
        color: white;
        font-size: 26px;
        text-align: right;
        align-items: center;

    }
}

@media (max-width: 668px) {
    .devocional-text {
        font-size: 19px;
    }
}

@media (max-width: 1399px) {

    .devocional-container {
        min-height: 500px;
        max-height: 900px;
    }
}

/* Conteúdo Missão, Visão e Valores */

.missao-visao-valores-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 14px;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.mvv-card {
    width: 441px;
    height: 654px;
    background-color: rgb(255, 255, 255);
}

.mvv-card .img-card {
    height: 70%;
}

.card-content{
    width: 100%;
    padding: 24px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.card-text {
    font-weight: 400;
    font-size: 18px;
}

@media (max-width: 1350px) {

    .missao-visao-valores-container {
        display: grid;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .mvv-card {
        width: 96%;
        min-height: 32vh;
        background-color: rgb(255, 255, 255);
        margin-inline: 2%;
    }

    .mvv-card .img-card{
        width: 100%;
        vertical-align: baseline;
    }
}